{% macro section_one_start() %}
<div class="container-fluid">
    <h2 class="center green annexure">ANNEXURE</h2>
{% endmacro %}
{% macro section_one_one() %}
    <div class="column-box1">
        <b>Head Office :</b>
        <p>
            Wahni Green Technologies Pvt. Ltd.<br>
            Vikas Trust Rural Apparel Park,<br>
            Talikulam PO,Thrissur-680569 <br>
            CIN:U74999KL2016PTC046222 <br>
            GST No.: 32AABCW8543N1ZX<br>
        </p>
    </div>
{% endmacro %}
{% macro section_one_two() %}
    <div class="column-box2">
        <h2 class="main-head">COST BREAK DOWN</h2>
    </div>
{% endmacro %}
{% macro section_one_three() %}
    <div class="column-box3">
        <img src="/files/wahni.png" class=" rounded mx-auto d-block" alt="Logo">
    </div>
{% endmacro %}
{% macro section_one_stop() %}
    <svg height="5" width="100%">
        <line x1="0" y1="0" x2="100%" y2="0" style="stroke:#00992b;stroke-width:5" />
    </svg>
{% endmacro %}

{% macro section_two() %}
<div class="">
    <div class="column-box data_part">
        <table>
            <tbody>
                <tr>
                    <th>Customer Name </th>
                    <td>: {{ doc.cus_name }} </td>
                </tr>
                <tr>
                    <th>Customer Code </th>
                    <td>: {{ doc.cus_code }} </td>
                </tr>
                <tr>
                    <th>Payment </th>
                    <td>: {{ doc.payment }} </td>
                </tr>
                <tr>
                    <th>Buyer Order No </th>
                    <td>: {{ doc.buy_no }} </td>
                </tr>
                <tr>
                    <th>Dispatched With </th>
                    <td>: {{ doc.dis_with }} </td>
                </tr>
                <tr>
                    <th>Dispatched No </th>
                    <td>: {{ doc.dis_no }} </td>
                </tr>
                <tr>
                    <th>Delivery Note </th>
                    <td>: {{ doc.del_note }} </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="column-box-right data_part">
        <table>
            <tbody>
                <tr>
                    <th>Date </th>
                    <td>: {{ doc.date }} </td>
                </tr>
                <tr>
                    <th>Bill No </th>
                    <td>: {{ doc.bill_no }} </td>
                </tr>
                <tr>
                    <th>Gst No </th>
                    <td>: {{ doc.gst_no }} </td>
                </tr>
                <tr>
                    <th>Mobile </th>
                    <td>: {{ doc.mob }} </td>
                </tr>
                <tr>
                    <th>Email ID </th>
                    <td>: {{ doc.email }} </td>
                </tr>
                <tr>
                    <th>Billing Address </th>
                    <td>: {{ doc.bill_add }}</td>
                </tr>
                <tr>
                    <th>Delivery Address </th>
                    <td>: {{ doc.del_add }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}


{% macro section_three_head() %}
<table class="item" style="margin-top:1em !important">
    <tbody>
        <tr class="table-head">
            <th>No </th>
            <th>Item and Description </th>
            <th>HSN/ SAC </th>
            <th>Qty </th>
            <th class="fix_size">Unit Price </th>
            <th class="fix_size">MRP </th>
            <th class="fix_size_dis">Discount </th>
            <th class="fix_size">Net Amount </th>
        </tr>
{% endmacro %}

{% macro section_three_total() %}
        <tr>
            <td>6 </td>
            <th colspan="2" class="bold left-td">Total </th>
            <td>{{doc.add_items|sum( attribute='qty') }}</td>
            <td class="fix_right">{{doc.add_items|sum( attribute='unit') }} </td>
            <td class="fix_right">{{doc.add_items|sum( attribute='mrp') }} </td>
            <td class="fix_right">{{doc.add_items|sum( attribute='dis') }} </td>
            <td class="fix_right">{{doc.add_items|sum( attribute='total') }}</td>
        </tr>

{% endmacro %}

{% macro section_three_close() %}  
    </tbody>
</table>
{% endmacro %}


{% macro section_four() %}

<div class="row">
    <div class="col-md-12">
        <p class="contact"><b>Registered Address:</b> 763A (7/281), Eruvakkoor, Cheruvathoor P.O,Kasargod, Kerala-
            671313, India,
            <b>Customer Care:</b> +91 8047111555 Office:+91 73565 81555 Grievance: +91 7345651555, <br><b>Email:</b>
            sales@wahni.com, Web: wahni.com, A/C: No. 10140200017210, IFSC - FDRL0001014
        </p>
        <p class="footer">
            Being a customer, you have all the rights to return the product, if it is not functioning according
            to the specification or your satisfaction. However, the product should be returned within 10 days
            after delivery without any deformation.
        </p>
    </div>
</div>
</div>

{% endmacro %}

<!-- head part start -->
{{ section_one_start() }}
{{ section_one_one() }}
{{ section_one_two() }}
{{ section_one_three() }}
{{ section_one_stop() }}
<!-- head part end -->

<!-- customer details part start -->
{{ section_two() }}
<!-- customer details part end -->

<!-- table head details part start -->
{{ section_three_head() }}
<!-- table head details part end -->

{% set pr = [1] %}
{% set lines = [0] %}
{% set cond=[90] %}
{% set page_count=[0] %}
{% set row_count = [doc.add_items|count] %}

{% if  (doc.add_items|count)/30 > (((doc.add_items|count)/30)|round|int) +0.1  %}
    {% if page_count.append(((doc.add_items|count)/30)|round|int +1) %} {% endif %}
{% else %}
    {% if page_count.append(((doc.add_items|count)/30)|round|int) %} {% endif %}
{% endif %}
<!-- ********   Dynamic content in rows start ******************************* -->

{%- for row in doc.add_items -%}

<!-- ********{% if (doc.add_items|count) >30 and pr[-1]>1 %}
{% if cond.append(100) %}{% endif %}
{% endif %} -->

{% if pr[-1] == 1 %}
    {% if row_count[-1] > 30 and row_count[-1] < 35 %}
        {% if cond.append(80) %}{% endif %}
    {% else %}
        {% if cond.append(90) %}{% endif %}
    {% endif %}
{% elif pr[-1] != page_count[-1] %}   
    {% if row_count[-1]-(30*(pr[-1]-1)) < 30 and row_count[-1]-(30*(pr[-1]-1)) < 35 %}
          {% if cond.append(80) %}{% endif %}
    {% else %}
        {% if cond.append(100) %}{% endif %}
    {% endif %}
{% elif pr[-1] == page_count[-1] %}
    {% if cond.append(100) %}{% endif %}
{% endif %}

{% if lines[-1] %} {% endif %}
{% if lines.append( lines[-1] + 2 +((row.item|string|length() / 38)|int)) %} {% endif %}
{% if (row.item|string|length % 38) > 0 %}
{% if lines[-1] %} {% endif %}
{% if lines.append( lines[-1] + 1 ) %} {% endif %}
{% endif %}
{% if (lines[-1]/cond[-1]) <= pr[-1] %} 

    <!--   ROWS    -->
   <tr>
    <td>1 </td>
    <td>{{ row.item }}</td>
    <td>{{ row.hsn }} </td>
    <td>{{ row.qty }}</td>
    <td class="fix_right">{{ row.unit }}</td>
    <td class="fix_right">{{ row.mrp }}</td>
    <td class="fix_right">{{ row.dis }}</td>
    <td class="fix_right">{{ row.total }}</td>
    </tr>
    <!--   ROWS END   -->

{% else %}

{{ section_three_close() }}


    <h5 class="page_no"> {{ pr[-1] }}/{{ page_count[-1] }}</h5>
    <div style="page-break-before: always;"></div>
    {% if pr[-1] %} {% endif %}
    {% if pr.append( pr[-1] + 1 ) %} {% endif %}

<!-- head part start -->
{{ section_one_start() }}
<div class="column-box12">
    <h5 class="page_no_">Continuation from page {{ pr[-1]-1 }} ....</h5>
</div>
{{ section_one_two() }}
{{ section_one_three() }}
{{ section_one_stop() }}
<!-- head part end -->


<!-- table head details part start -->
{{ section_three_head() }}
<!-- table head details part end -->

    <!--   ROWS    -->
    <tr>
        <td>1 </td>
        <td> {{ row.item }} </td>
        <td> {{ row.hsn }} </td>
        <td>{{ row.qty }}</td>
        <td class="fix_right">{{ row.unit }}</td>
        <td class="fix_right">{{ row.mrp }}</td>
        <td class="fix_right">{{ row.dis }} </td>
        <td class="fix_right">{{ row.total }} </td>
    </tr>
    <!--   ROWS  END  -->

{% endif %}
{%- endfor -%}

<!--************************Dynamic content in rows end********************************-->

    {{ section_three_total() }}
    {{ section_three_close() }}


    {% for n in range(((79-lines[-1]%cond[-1])/3)|int) %}
    <br>
    {% endfor %}

    {{ section_four() }}
    
    <h5 class="page_no"> {{ pr[-1] }}/{{ page_count[-1] }}</h5>
    
    <h3> {{ lines[-1] }}</h3>
     <h3>{{ cond[-1]}}</h3>
    <h3>{{ row_count[-1]}}</h3>
    <h3>{{ page_count[-1]}}</h3>
    <h3>{{ ((doc.add_items|count)/30) }} </h3>
    <h3>{{ ((doc.add_items|count)/30)|round }} </h3>
    <h3>{{ ((doc.add_items|count)/30)|round|int }} </h3>
    
    

